<div class="activity-wrapper">
  <div class="inner-activity boxed">
    <div class="date-info-wrapper">
      <div class="date-info">
        <%= activity.start_time.strftime('%b, %d') %>
      </div>
      <div class="time-info">
        <%= activity.start_time.strftime('%H:%M') %> - <%= activity.end_time.strftime('%H:%M') %>
      </div>
    </div>
    <div class="user-wrapper">
      <div class="photo-wrapper">
        <% @id = activity.group.id %>
        <% @user_group = UserGroup.find_by(group_id: @id) %>
        <% @owner = @user_group.user %>
        <% avatar_url = @owner.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar-large", alt: "avatar-large" %>
      </div>
    </div>
    <div class="description-wrapper">
      <div class="category">
        <i class="fas fa-book"></i> <%= activity.name %>
      </div>
      <div class="link">
        <i class="fas fa-external-link-alt"></i> <%= link_to activity.link.truncate(45),activity.link %>
      </div>
    </div>
    <div class="actions-wrapper">
      <div class="button-black-inverse"> Join Challenge</div>
    </div>
  </div>
</div>
