<div class="container">
  <div class="activity-header">
    Add new activity
  </div>
  <%= simple_form_for(@activity) do |f| %>
    <%= f.input :name %>
    <%= f.input :link %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.button :submit, class: "button-black" %>
  <% end %>
</div>
